*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
Manifest.toml
*.swp
*.mod
*.o
*.exe
*.dat
.ipynb_checkpoints/
notebooks/particle_group.ipynb
notebooks/weibel_instablity.ipynb
notebooks/distributions.ipynb
notebooks/strong_landau_damping.ipynb
notebooks/quietstart.ipynb
*.csv
*.jld2
notebooks/maxwell_1d_fem.ipynb
notebooks/strong_landau_damping_spin.ipynb
charge_density.png
electric_field.png
histograms.png
potential_energy.png
*.mem
docs/src/generated/strong_landau_damping.md
